<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Glucocid</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Fondo animado -->
    <div class="background"></div>
    <div class="particles">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>

    <!-- Contenido principal -->
    <div class="container text-center mt-5 content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="{% static 'img/img1.png' %}" alt="Puerta" class="img-fluid logo">
                <h1 class="my-4">Bienvenido a Glucocid</h1>
                <p class="lead mb-4">Cuidando de ti, mientras participas en tu salud</p>
                <div>
                    <button onclick="location.href='{% url 'inicio' %}'" class="btn btn-primary btn-lg mx-2">Comenzar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlace a Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
